body{
  background: black;
  margin-top: 100px;
  }
  .login{
  margin: 0 auto;
  width: 200px;
  border: 1px solid red;
  padding: 10px;
  box-shadow: 0px 0px 50px red;
  animation: sombreado 5s infinite;

}
@keyframes sombreado {
  10%{
    box-shadow: 0 0 40px blue;
  }
  20%{
    box-shadow: 0 0 40px yellow;
  }
  30%{
    box-shadow: 0 0 100px purple;
  }
  50%{
    box-shadow: 0 0 30px red;
  }

}

.login__user,
.login__password{
box-sizing: border-box;
width: 100%;
border: 0;
border-bottom: 1px solid red;
margin-bottom: 15px;
background: none;
color: white;
}

.login__password{

}

.login__submit{
  width: 100%;
  background: red;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}
